<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
</head>
<body>
    <h1>My Notes RAG</h1>
    <!-- 生成筆記卡片 -->
    <div class="container">
        {% if not notes %}
            <p>快加入你的第一個筆記吧！</p>
        {% endif %}
        {% for note in notes %}
            <div class="note-card"  onclick="openModalBySelect( '{{note[0]}}' )">
                <h2>{{ note[1] }}</h2>
                <p>{{ note[2][:100] }}...</p>
            </div>
            
        {% endfor %}
    </div>
    
    <!-- 下方按鈕 -->
    <div class="bottom-buttons">
        <div style="">
            <button class="button-37" onclick="ClearAlert()" style="background-color: red; border: red;">Clear all notes</button>
        </div>
        
        <button class="button-37" onclick="openAddForm()">Add Note</button>
        <button class="button-37" onclick="openRagForm()">RAG</button>
    </div>
    
    <!-- 彈出新增表單 -->
    <div class="form-popup" id="noteAddForm">
        <form action="/add_note" method="post" class="form-container" onsubmit="return handleSubmit()"> 
            <h2>Add Note</h2>
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Enter Title" name="title" required>
            
            <label for="content"><b>Note</b></label>
            <textarea name="content" placeholder="Enter Note" id="myTextarea" required></textarea>
            
            <button type="submit" class="btn">Add Note</button>
            <button type="button" class="btn cancel" onclick="closeAddForm()">Close</button>
        </form>
    </div>

    <!-- 彈出RAG表單 -->
    <div class="form-popup" id="noteRagForm">
        <form action="/rag_note" method="post" class="form-container" onsubmit="return handleSubmit()"> 
            <h2>RAG</h2>
            <label for="question_1"><b>Question 1</b></label>
            <textarea name="question_1" placeholder="輸入第一個問題" required></textarea>

            
            <button type="submit" class="btn">Rag Note</button>
            <button type="button" class="btn cancel" onclick="closeRagForm()">Close</button>
        </form>
    </div>

    <!-- 清空資料庫按鈕 -->
    <div class="alert-popup-modal"  id="alert-popup">
        <form action="/clear_database" method="post" class="alert-popup-content">
            <h2>Are you sure you want to clear all notes?</h2>
            <p>This action cannot be undone.</p>
            <div style="display: flex; justify-content: space-evenly; margin-top: 20px;">
                <button type="submit" onclick="closeAlert()" class="button-37" style="background-color: red; border: red;">Yes</button>
                <button type="button"  onclick="closeAlert()" class="button-37 " >Close</button>
            </div>
        </form>
    </div>

    <!-- 模態彈窗 -->
    <div id="noteModal" class="modal">
        <div class="modal-content" id="orgModal">
            <div class="modal-header">
                <h2 id="modalTitle"></h2>
                <span class="close"  onclick="closeModal()">&times;</span>
            </div>
            
            <div class="modal-body">  
                <p id="modalContent"></p>
            </div>
            <div class="modal-footer">
                <span class="edit" onclick="openEditForm()">Edit</span>
            </div>
        </div>

        <div class="modal-content" style="display: none; " id = "editModal">
            <form action="/edit_note" method="post" class="form-container" id="editForm" style="display: none; justify-content: center; position: relative;">
                <div class="edit-header">
                    <input type="hidden" id="editId" name="id">
                    <label for="title"><b>Title</b></label>
                    <input type="text" id="editTitle" name="title" required>
                    <span class="close" onclick="closeEditForm()" style="position: absolute; top: 0; right: 0; cursor: pointer;">&times;</span>
                </div>
            
                <div class="edit-body">  
                    <label for="content"><b>Note</b></label>
                    <textarea id="editContent" name="content" required></textarea>
                    <div style="display: flex; justify-content: space-evenly;">
                        <button type="submit" class="button-37">Save</button>
                        <button type="button" class="button-37" style="background-color: red; border: red;" onclick="openDeleteForm()">Delete</button>    
                    </div>
                </div>  
            </form>
            
        </div>
       
         
    
        <div class="alert-popup-modal"  id="delete-alert-popup">
            <form action="/delete_note" method="post" class="alert-popup-content">
                <input type="hidden" id="deleteId" name="id">
                <h2>Are you sure you want to delete this note?</h2>
                <p>This action cannot be undone.</p>
                <div style="display: flex; justify-content: space-evenly; margin-top: 20px;">
                    <button type="submit" onclick="closeDeleteForm()" class="button-37" style="background-color: red; border: red;">Yes</button>
                    <button type="button"  onclick="closeDeleteForm()" class="button-37 " >Close</button>
                </div>
            </form>
        </div>
        <form action="/select_note" method="post"  style="display: none;z-index: 0;">
            <imput id ="selectId" type="submit" name="id" >
        </form>
    </div>
    

    <script src="{{ url_for('static', filename='js/script.js') }}">
        
    </script>
</body>
</html>
